.QuarkSelector-containerWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: color-mix(in srgb,var(--accent), #ffffff00 40%);
    backdrop-filter: blur(2px);
    clip-path: polygon(2.5rem 0, 100% 0%, 100% 100%, 0% 100%);
    flex: 0 0 auto;
    width: 25rem;
    /*transition: width .15s ease;*/
    /*animation: sidebarPopout 750ms linear;*/
}

/*@keyframes sidebarPopout {*/
/*    0% {*/
/*        width: 5.5rem;*/
/*    }*/
/*    80% {*/
/*        width: 27rem;*/
/*    }*/
/*    100% {*/
/*        width: 25rem;*/
/*    }*/
/*}*/

.QuarkSelector-containerWrapper-collapsed {
    width: 5.5rem;
    /*animation: sidebarPopout 750ms linear reverse;*/
}
.QuarkSelector-top {
    padding-left: 3rem;
}
.QuarkSelector-collapseButton {
    margin: 0.5rem;
}
.QuarkSelector-container {
    min-width: 24rem;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 1rem 1rem 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    overflow: hidden;
}

.QuarkSelector-contentWrapper {
    padding-right: 0.5rem;
    flex: 0 0 auto;
    overflow-x: hidden;
    overflow-Y: scroll;
}

.QuarkSelector-channelWrapper {
    display: flex;
    flex: 1;
}

.QuarkSelector-tooltip {
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: color-mix(in srgb,var(--accent), #ffffff 30%);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb,var(--accent), #ffffff 20%);
}