/*
    This css gets loaded for the whole application (outside the asset load spinner)
 */

:root {
    --accent: #c571cd;
}

.Quarklight-container {
    min-height: 100%;
    height: fit-content;
    background-color: #000000;
    background-attachment: fixed;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    overflow-x: hidden;
    font-family: Main, sans-serif;
    /*animation: background-scroll 10s linear infinite;*/
}

input {
    font-family: Main, sans-serif;
}

.bullshitContainer {
    position: absolute;
    bottom: 20px;
}

/* I didn't like this effect, Hakase liked it though so it might come back when I feel like fixing it (it doesnt loop cleanly)
@keyframes background-scroll {*/
/*    0% {*/
/*        background-position: -50%, 100%;*/
/*    }*/
/*}*/